/*
  -- Default clear theme -------------------------------------------------------
*/

$fg-color: #111;
$bg-color: #eee;
$hover-active: #90ee90;
$bg-alternate: #c8c8c8;
$header-color: #ccc;
$border-color: #666;
$default-gradient: linear-gradient(to top, rgba(221,221,221, 1), rgba(204,204,204, 0.9));
$hover-gradient: linear-gradient(to top, rgba(144,238,144, 1), rgba(144,238,144, 0.5));

$song-artist-color: #333;
$progressbar-color: $border-color;
$filter-input-bg: white;
$scrollbar-track-bg: #111;
$scrollbar-thumb-border-bg: $fg-color;
$navigation-searchform-bg: $bg-alternate;
$context-menu-bg: white;
$context-menu-hover-bg: rgba(191,255,0, 0.8);

@import "../base";

body {
    background: linear-gradient(
        to bottom right,
        rgba(221,221,221, 1),
        rgba(221,221,221, 0.8)
    );
}
