
$fg-color: #eee;
$bg-color: #111;
$hover-active: #060;
$bg-alternate: #111;
$border-color: #666;
$default-gradient: linear-gradient(to top, rgba(34,34,34, 1), rgba(51,51,51, 0.9) );
$hover-gradient: linear-gradient(to top, rgba(0,102,0, 1), rgba(0,102,0, 0.5) );

/*
  -- Global -------------------------------------------------------------------
*/

body {
    color: $fg-color;
    background-color: $bg-color;
    background: linear-gradient(to bottom right,
        rgba(17,17,17, 1),
        rgba(17,17,17, 0.9)
    );
}

a {
    color: $fg-color;
}

h1 {
    border-bottom: 1px solid #666;
}

h2 {
    border-bottom: 1px solid #666;
}


/*
  -- Topbar -------------------------------------------------------------------
*/
.topbar {
    border-bottom-color: #666;

    .songArtist {
        color: #ddd;
    }
}

nav.topbarNav {

    a {
        background: $default-gradient;
    }

    a:hover {
        background: $hover-gradient;
    }
}

/*
  -- Artists navigation -------------------------------------------------------
*/
.artists-navigation {
    .song {
        background-color: #333;
    }
}

.filter {

    background-color: #333;

    input {
        background-color: black;
    }
}

a.active {
    background-color: $hover-active!important;
}


/*
  -- Songs and playlist panels ------------------------------------------------
*/
.playlist-header {
    background-color: #333;
}

.list {
    thead {
        background-color: #333;
    }

    tbody {
        tr:nth-child(even) {
            background-color: $bg-alternate;
        }
    }

    tr.active {
        background-color: $hover-active!important;
    }

    .icon-plus, .icon-minus {
        color: #aaa;
    }
}


/*
  -- Radios -------------------------------------------------------------------
*/
.radio {

    &.activeRadio {
        background-color: $hover-active!important;
    }
}

.radio:nth-child(4n+2), .radio:nth-child(4n+3), {
    background-color: $bg-alternate;
}


/*
  -- Context menus ------------------------------------------------------------
*/
.songsContextMenu, .playlistContextMenu {

    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);

    .menu-options {
        background-color: black;

        .menu-option {
            &:hover {
                background: rgba(0, 102, 0, 0.8);
            }
        }
    }
}


/*
  -- Settings -----------------------------------------------------------------
*/
/*
  -- Forms ---------------------------------------------------------------
*/
input[type="text"] {
    color: $fg-color;
    background-color: $bg-color;
    border: 1px solid #555!important;
}

.input-reset {
    background-color: #111;
}

.input-reset:after {
    color: white;
    background-color: #111;
}


/*
  -- Crud forms ---------------------------------------------------------------
*/
form div div input {
    border: 1px solid #666;
}

.button {
    color: $fg-color;
    background: $default-gradient;
}

.button:hover {
    background: $hover-gradient;
}
