{% extends 'base.html.twig' %}

{% block body %}

    <h1>Add radio</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="buttonWrapper">
            <input type="submit" value="Create" />
        </div>

    {{ form_end(form) }}

    <div class="buttonWrapper">
        <ul>
            <li>
                <a href="{{ path('radio_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
