$debug: 0 !default;
$mobileButtonSize: 48px !default;

.artists-navigation {
    float: left;
    width: calc(100%);
    height: 100%;
    overflow-y: auto;

    @if $debug != 0 {
        background-color: #333;
    }

    a {
        display: block;
        box-sizing: border-box;
        width: calc(100%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;
        height: $mobileButtonSize;
        line-height: $mobileButtonSize;
        @if $debug != 0 {
            background-color: #500;
        }
    }
}

#artists-nav {
    height: calc(100% - 45px);
    overflow-y: auto;
}

.filter {
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: #{$debug}px solid red;

    label {
        display: inline-block;
        box-sizing: border-box;
        width: calc(30%);
        border: #{$debug}px solid cyan;
    }

    input {
        position: relative;
        top: 3px;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        width: calc(70%);
        height: 34px;
        line-height: 34px;
        border: #{$debug}px solid lime;
    }
}
