$debug: 0 !default;
$topbar-size: 49px !default;
$topbar-border-size: 1px !default;

.topbar {
    height: $topbar-size;
    border-bottom-width: $topbar-border-size;
    border-bottom-style: solid;

    @if $debug != 0 {
        background-color: #222;
    }

    div {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        height: 100%;
        line-height: $topbar-size;
        border: #{$debug}px solid red;
    }

    .logo {
        padding: 0 10px;
        margin-top: -4px;
        border: #{$debug}px solid red;

        > img {
            vertical-align: middle;
            width: 31px;
        }
    }

    [class^="icon-"] {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        height: $topbar-size;
        line-height: $topbar-size;
        font-size: 120%;
        cursor: pointer;
        border: #{$debug}px solid red;
    }

    .icon-play,
    .icon-pause {
        font-size: 150%;
    }

    .icon-to-end {
        margin-left: -2px;
    }

    .icon-cog {
        height: 100%;
        font-size: 26px;
        text-align: center;
    }

    .timeInfo {
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .ProgressBarContainer {
        width: 100%;
        height: 19px;
        line-height: 19px;
    }

    .progressbar {
        position: relative;
        height: 10px;
        width: calc(100% - 10px);
        margin: 0 5px;
        border-radius: 5px;
        overflow: hidden;
    }

    .songInfo {
        display: inline-block;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .material-icons {
        line-height: 49px;
    }

    #radio-new-button {
        padding-right: 10px;
    }

    .radio-add {
        position: relative;
        vertical-align: top;
        line-height: 30px;
    }
}

#search-form {
    display: inline-block;
    vertical-align: top;
    height: $topbar-size;
    line-height: $topbar-size;

    input[type="text"] {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 130px;
        height: 39px;
        padding: 0 10px;
        border: #{$debug}px solid lime;
    }

    input[type="submit"] {
        display: inline-block;
        height: 49px;
        line-height: 49px;
        vertical-align: top;
        border: #{$debug}px solid lime;
    }

    .formElementContainer {
        display: inline-block;
        position: relative;
    }
}

nav.topbarNav {
    display: none;
    font-size: 0;
    float: right;
    height: $topbar-size;
    line-height: $topbar-size;

    @if $debug != 0 {
        background-color: #666;
    }

    &.is-active {
        display: block;
    }

    a {
        vertical-align: top;
        box-sizing: border-box;
        height: $topbar-size;
        line-height: $topbar-size;
        border: #{$debug}px solid lime;
    }
}

.icon-cog {
    float: right;
    padding: 0 10px;
}

// -- set menu items visibility
#navigation-library,
#navigation-radio-new,
#navigation-back-to-radio-index {
    display: none;
}
