<ul id="album-nav">
{% for album in albums %}
    <li><a class="song" href="{{ path('artist_albums_songs', { 'name': album.artists[0], 'album' : album.name }) }}"> - {{ album.name }}</a></li>
{% endfor %}
</ul>
