<section class="playlist">
    <div class="playlist-header">
        playlist
    </div>
    <table id="playlist" class="list">
        <thead>
            <tr style="">
                <th></th>
                <th>#</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Year</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
