<section class="playlist">
    <div class="playlist-header">
        playlist
        <i id="playlistInfos" style="display: none">
            :
            <i id="playlistNumFiles">0</i>
            <i id="playlistFile">file</i>
            (<i id="playlistDuration">00:00</i>)
         </i>
        <i class="icon-trash"></i>
    </div>
    <table id="playlist" class="list">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Year</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
