<section id="songs" class="songs">
    <table id="songslist" class="list">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Year</th>
                <th>Genre</th>
            </tr>
        </thead>
    </table>
</section>
