{# artist/index #}
{% extends 'base.html.twig' %}

{% block topbar %}
{{ include('common/topbar.html.twig') }}
{% endblock %}

{% block js %}
<script src="/js/main.js"></script>
<script src="/js/player.js"></script>
{% endblock %}

{% block body %}
<nav class="artists">

    <div class="filter">
        <form class="filterForm" method="post">
            <label for="filter">filter</label><input type="text" name="filter" value="" placeholder="min 3 chars">
        </form>
    </div>

    {% include('artist/artist-list.html.twig') %}

</nav>

{{ include('index/songs.html.twig') }}
{{ include('index/queue.html.twig') }}


<div class="songsContextMenu">
  <ul class="menu-options">
    <li id="addToPlaylist" class="menu-option">Add to playlist</li>
  </ul>
</div>

<div class="playlistContextMenu">
  <ul class="menu-options">
    <li id="removeFromPlaylist" class="menu-option">Remove from playlist</li>
  </ul>
</div>

{% endblock %}
