{# artist/index #}
{% extends 'base.html.twig' %}

{% block topbar %}
{{ include('common/topbar.html.twig') }}
{% endblock %}

{% block js %}
<script src="/js/main.js"></script>
<script src="/js/player.js"></script>
{% endblock %}

{% block body %}
<nav class="artists">

    <div class="filter">
        <form class="" action="index.html" method="post">
            <label for="filter">filter</label>
            <input type="text" name="filter" value="">
        </form>
    </div>

    {% include('artist/artist-list.html.twig') %}

</nav>

{{ include('index/songs.html.twig') }}
{{ include('index/queue.html.twig') }}

{% endblock %}
