{% extends 'base.html.twig' %}

{% block body %}
    <h1>Config creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ include('common/_form_actions.html.twig', {
            submit_label: 'Create',
            back_href: path('config_index'),
            back_label: 'Back to the list'
        }) }}
    {{ form_end(form) }}
{% endblock %}
