{% extends 'base.html.twig' %}

{% block body %}

{% for index in artistsIndex %}
<ul>
    <li>{{ index.attributes.name }}</li>

    <ul>
    {% for artist in index %}
        <li>{{ artist.attributes.name }}</li>
    {% endfor %}
    </ul>
</ul>
{% endfor %}

{% endblock %}
