<section class="topbar">
    <div class="logo">Soonic</div>
    <i class="icon-to-start"></i>
    <i class="icon-play"></i>
    <i class="icon-to-end"></i>

    <audio id="player">
        <source src="/01 Lettre a France.mp3" type="audio/mpeg"/>
    </audio>
</section>
