@use 'sass:map';

$debug: 0 !default;

$space-1: 5px;
$space-2: 10px;
$space-3: 15px;
$space-4: 20px;
$space-5: 30px; 

$topbar-content-size: 49px !default;
$topbar-border-size: 1px !default;
$topbar-size: $topbar-content-size + $topbar-border-size;

$topbar-content-size-touch: 59px !default;
$topbar-border-size-touch: 1px !default;
$topbar-size-touch: $topbar-content-size-touch + $topbar-border-size-touch;


$mobile-button-size: $topbar-size-touch !default;
$mobile-line-height: $mobile-button-size; 


$artists-navigation-1024: 240px !default;
$artists-navigation-1200: 360px !default;

$panel-header-height: 22px !default;

$single-album-col: 300px !default;
$single-album-col-md: 400px !default;
$single-album-col-lg: 500px !default;
$single-album-col-xl: 600px !default;

$radio-button-size-medium: 80px;
$radio-button-size: 150px;

$breakpoints: (
    xs: 500px,
    sm: 700px,
    md: 1024px,
    lg: 1200px,
    xl: 1600px
);

$playlist-col-widths: (
    col-add: 25px,
    col-track-number: 25px,
    col-artist: 20%,
    col-title: 35%,
    col-album: 20%,
    col-duration: 60px,
    col-year: 60px,
    col-genre: 80px
);

@mixin up($breakpoint) {
    @if not map.has-key($breakpoints, $breakpoint) {
        @error "Unknown breakpoint `#{$breakpoint}`. Allowed: #{map.keys($breakpoints)}.";
    }

    @media all and (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}
