@use 'sass:map';

$debug: 0 !default;
$topbar-content-size: 49px !default;
$topbar-border-size: 1px !default;
$topbar-size: $topbar-content-size + $topbar-border-size !default;

$mobile-button-size: 48px !default;
$artists-navigation-1024: 240px !default;
$artists-navigation-1200: 360px !default;
$panel-header-height: 22px !default;

$breakpoints: (
    xs: 500px,
    sm: 700px,
    md: 1024px,
    lg: 1200px,
    xl: 1600px
);

@mixin up($breakpoint) {
    @if not map.has-key($breakpoints, $breakpoint) {
        @error "Unknown breakpoint `#{$breakpoint}`. Allowed: #{map.keys($breakpoints)}.";
    }

    @media all and (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}
