$debug: 0 !default;
$topbar-size: 49px !default;
$topbar-border-size: 1px !default;
$mobileButtonSize: 48px !default;
$artists-navigation-1024: 240px !default;
$artists-navigation-1200: 360px !default;
$mobileButtonSize: 48px;
$panel-header-height: 22px;
