$fg-color: #111 !default;
$bg-color: #fff !default;
$border-size: 1px;
$bg-alternate: #f6f6f6 !default;
$border-color: #666 !default;
$default-gradient: linear-gradient(to top, rgb(34 34 34 / 20%), rgb(51 51 51 / 10%) ) !default;
$header-color: #ddd !default;
$mobile-button-bg: #ddd !default;
$hover-active: #ddd !default;
$album-overlay: rgb(255 255 255 / 90%) !default;
$active-playing: #ddd !default;