/*
  -- Guitar dark theme --------------------------------------------------------
*/

$fg-color: #eee;
$bg-color: #111;
$hover-active: #060;
$bg-alternate: #111;
$header-color: #333;
$border-color: #666;
$default-gradient: linear-gradient(to top, rgba(34,34,34, 1), rgba(51,51,51, 0.9));
$hover-gradient: linear-gradient(to top, rgba(0,102,0, 1), rgba(0,102,0, 0.5));

$song-artist-color: #ddd;
$progressbar-color: #555;
$filter-input-bg: black;
$scrollbar-track-bg: $bg-color;
$scrollbar-thumb-border-bg: $bg-color;
$navigation-searchform-bg: $bg-color;
$context-menu-bg: black;
$context-menu-hover-bg: rgba(0, 102, 0, 0.8);
$hamburger-color: $fg-color;
$mobile-button-bg: $bg-color;

@import "../base";

body {
    background: linear-gradient(
        to bottom right,
        rgba(17,17,17, 1),
        rgba(17,17,17, 0.9)
    );
    background-image: url("../../../images/guitar-dark/guitar.jpg");
    background-size: cover;
    background-position: center;
}

body:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom right,
        rgba(17,17,17, 0.8),
        rgba(17,17,17, 0.7)
    );
    z-index: -1;
}
