/*
  -- Guitar dark theme --------------------------------------------------------
*/

@use "../base" with (
    $fg-color: #eee,
    $bg-color: #111,
    $hover-active: #060,
    $bg-alternate: #111,
    $header-color: #333,
    $border-color: #666,
    $default-gradient: linear-gradient(to top, rgb(34 34 34 / 100%), rgb(51 51 51 / 90%)),
    $hover-gradient: linear-gradient(to top, rgb(0 102 0 / 100%), rgb(0 102 0 / 50%)),
    $song-artist-color: #ddd,
    $progressbar-color: #555,
    $filter-input-bg: black,
    $scrollbar-track-bg: #111,
    $scrollbar-thumb-border-bg: #111,
    $context-menu-bg: black,
    $context-menu-hover-bg: rgb(0 102 0 / 80%),
    $hamburger-color: #eee,
    $mobile-button-bg: #111
);

body {
    background: linear-gradient(
        to bottom right,
        rgb(17 17 17 / 100%),
        rgb(17 17 17 / 90%)
    );
    background-image: url("../../../images/guitar-dark/guitar.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom right,
        rgb(17 17 17 / 80%),
        rgb(17 17 17 / 70%)
    );
    z-index: -1;
}

.topbar {
    .logo {
        background-image: url("/guitar-dark-logo.png");
    }
}
