@use '../config/layout' as config;

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;

    width: 100%;
    height: config.$topbar-content-size;
    border-bottom-width: config.$topbar-border-size;
    border-bottom-style: solid;
}

.library-view {
    // overflow-x: hidden;
}

.albums-view {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    overflow-y: scroll;
}

.single-album-view {
    position: fixed;
    left: 0;
    z-index: 200;
}

.radios-view {
    overflow-y: scroll;
}

.view {
    position: absolute;
    top: config.$topbar-content-size + config.$topbar-border-size;
    left: 0;

    width: 100%;
    height: calc(100% - (#{config.$topbar-content-size} + #{config.$topbar-border-size}));

    border: #{config.$debug}px solid red;
}

.artists-navigation {
    float: left;

    width: 100%;
    height: 100%;

    overflow-y: auto;

}

.songs, .playlist {
    display: none;
    height: 100%;

    overflow: hidden;

    table {
        width: 100%;
    }
}


@include config.up(xs) {
    .albums-view {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@include config.up(sm) {
    .albums-view {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@include config.up(md) {
    .albums-view {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .songs, .playlist {
        display: block;

        height: 50%;
    }

    .artists-navigation {
        width: config.$artists-navigation-1024;
    }
}

@include config.up(lg) {
    .albums-view {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .artists-navigation {
        width: config.$artists-navigation-1200;
    }
}

@include config.up(xl) {
    .albums-view {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}
