@use '../config/layout' as config;

.settings-view {
    table {
        tr {
            td {
                padding: 15px 0;

                border: #{config.$debug}px solid lime;
                
                &:nth-child(even) {
                    text-align: right;
                }
            }
        }
    }

    .settings {
        margin-bottom: 50px;
    }

    .library-info{
        width: 90%;
        max-width: 400px;

        margin: 20px auto;
    }

    .button-wrapper {
        text-align: center;
    }
}
