@use '../config/layout' as config;

.songs-header, .playlist-header {
    top: 0;

    height: config.$panel-header-height;

    padding-left: 10px;
}

.songs-container, .playlist-container {
    height: calc(100% - #{config.$panel-header-height});

    overflow-y: scroll;
}

:is(.songs, .playlist) tbody td {
    height: config.$mobile-button-size;
}

:is(.songs, .playlist) tbody td:nth-child(1) {
    width: config.$mobile-button-size;
}

:is(.songs, .playlist) tbody td:nth-child(2),
:is(.songs, .playlist) tbody td:nth-child(3),
:is(.songs, .playlist) tbody td:nth-child(5),
:is(.songs, .playlist) tbody td:nth-child(6),
:is(.songs, .playlist) tbody td:nth-child(7),
:is(.songs, .playlist) tbody td:nth-child(8) {
    display: none;
}

.list {
    thead {
        tr {
            th {
                padding: 0 10px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 5px;
            }
        }
    }
}

.icon-trash {
    float: right;

    cursor: pointer;
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/

.mobile-button {
    position: fixed;
    top: calc(100% - #{config.$mobile-button-size}); // calc(100% - 100px) for debug

    width: config.$mobile-button-size;
    height: config.$mobile-button-size;

    cursor: pointer;
}

.mobile-forward-button {
    right: 0;
}

.mobile-back-button {
    left: 0;
}

.mobile-forward-button,
.mobile-songs-to-artists-button,
.mobile-songs-to-playlist-button,
.mobile-playlist-to-songs-button {
    display: none;
}

button:active, button:focus {
    border: none;
}


@include config.up(md) {
    thead {
        display: table-header-group;

        width: 100%;

        tr {
            th {
                position: sticky;
                top: 0;

                border: #{config.$debug}px solid red;
            }
            th:nth-child(1) { width: 15px; }
            th:nth-child(2) { width: 25px; }
            th:nth-child(3) { width: 20%; }
            th:nth-child(4) { width: 35%; }
            th:nth-child(5) { width: 20%; }
            th:nth-child(6) { width: 60px; }

            th:nth-child(7) {
                display: none;

                width: 60px;
            }

            th:nth-child(8) {
                display: none;

                width: 80px;
            }
        }
    }

    :is(.songs, .playlist) tbody td {
        height: config.$panel-header-height;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        border: #{config.$debug}px solid red;
    }

    :is(.songs, .playlist) tbody td:nth-child(1) {
        padding-left: 2px;
    }

    :is(.songs, .playlist) tbody td:nth-child(2),
    :is(.songs, .playlist) tbody td:nth-child(3),
    :is(.songs, .playlist) tbody td:nth-child(5),
    :is(.songs, .playlist) tbody td:nth-child(6) {
        display: table-cell;
    }

    :is(.songs, .playlist) tbody td:nth-child(7),
    :is(.songs, .playlist) tbody td:nth-child(8) {
        display: none;
    }
}

@include config.up(lg) {
    thead {
        tr {
            th:nth-child(7) {
                display: table-cell;
            }

            th:nth-child(8) {
                display: table-cell;
            }
        }
    }

    :is(.songs, .playlist) tbody td:nth-child(7),
    :is(.songs, .playlist) tbody td:nth-child(8) {
        display: table-cell;
    }
}
