@use '../config/layout' as config;

.songs-header, .playlist-header {
    top: 0;

    height: config.$panel-header-height;

    padding-left: config.$space-2;
}

.songs-container, .playlist-container {
    height: calc(100% - #{config.$panel-header-height});

    overflow-y: scroll;
}

:is(.songs, .playlist) tbody td {
    height: config.$mobile-button-size;
}

:is(.songs, .playlist) tbody td.col-order {
    width: config.$mobile-button-size;
}

:is(.songs, .playlist) tbody td.col-state,
:is(.songs, .playlist) tbody td.col-artist,
:is(.songs, .playlist) tbody td.col-album,
:is(.songs, .playlist) tbody td.col-duration,
:is(.songs, .playlist) tbody td.col-add,
:is(.songs, .playlist) tbody td.col-remove {
    display: none;
}

.list {
    thead {
        tr {
            th {
                padding: 0 config.$space-2;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: config.$space-1;
            }
        }
    }
}

.icon-trash {
    float: right;

    cursor: pointer;
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/

.mobile-button {
    position: fixed;
    top: calc(100% - #{config.$mobile-button-size}); // calc(100% - 100px) for debug

    width: config.$mobile-button-size;
    height: config.$mobile-button-size;

    cursor: pointer;
}

.mobile-forward-button {
    right: 0;
}

.mobile-back-button {
    left: 0;
}

.mobile-forward-button,
.mobile-songs-to-artists-button,
.mobile-songs-to-playlist-button,
.mobile-playlist-to-songs-button {
    display: none;
}

button:active, button:focus {
    border: none;
}


@include config.up(md) {
    thead {
        display: table-header-group;

        width: 100%;

        tr {
            th {
                position: sticky;
                top: 0;

                border: #{config.$debug}px solid red;
            }
            th.col-order { width: 15px; }
            th.col-state { width: 25px; }
            th.col-artist { width: 20%; }
            th.col-title { width: 35%; }
            th.col-album { width: 20%; }
            th.col-duration { width: 60px; }

            th.col-add {
                display: none;

                width: 60px;
            }

            th.col-remove {
                display: none;

                width: 80px;
            }
        }
    }

    :is(.songs, .playlist) tbody td {
        height: config.$panel-header-height;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        border: #{config.$debug}px solid red;
    }

    :is(.songs, .playlist) tbody td.col-order {
        padding-left: 2px;
    }

    :is(.songs, .playlist) tbody td.col-state,
    :is(.songs, .playlist) tbody td.col-artist,
    :is(.songs, .playlist) tbody td.col-album,
    :is(.songs, .playlist) tbody td.col-duration {
        display: table-cell;
    }

    :is(.songs, .playlist) tbody td.col-add,
    :is(.songs, .playlist) tbody td.col-remove {
        display: none;
    }
}

@include config.up(lg) {
    thead {
        tr {
            th.col-add {
                display: table-cell;
            }

            th.col-remove {
                display: table-cell;
            }
        }
    }

    :is(.songs, .playlist) tbody td.col-add,
    :is(.songs, .playlist) tbody td.col-remove {
        display: table-cell;
    }
}
