@use '../config/layout' as config;

.playlist-header {
    top: 0;

    display: flex;

    height: config.$panel-header-height;

    padding-left: config.$space-2;

    align-items: center;
}

.songs-container {
    height: 100%;
}

.playlist-container {
    height: calc(100% - #{config.$panel-header-height});
}

:is(.songs-container, .playlist-container) {
    @include config.scrollable-y;
}

:is(#songs, #playlist) {
    table-layout: auto;
}

:is(.songs, .playlist) tbody td {
    height: config.$mobile-line-height;
}

:is(.songs, .playlist) :is(thead th, tbody td).col-add {
    width: config.$mobile-button-size;
}

:is(.songs, .playlist) tbody td.col-title {
    width: calc(100% - #{config.$mobile-button-size});
}

:is(.songs, .playlist) :is(tbody, thead) th.col-add,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-track-number,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-artist,
:is(.songs, .playlist) :is(tbody, thead) th.col-title,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-album,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-duration,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-year,
:is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-genre {
    display: none;
}

.list {
    thead {
        tr {
            th {
                padding: config.$space-1 0;
            }
        }
    }
}

.icon-trash {
    margin-left: auto;

    cursor: pointer;
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/

.mobile-button {
    position: fixed;
    top: calc(100% - #{config.$mobile-button-size});

    width: config.$mobile-button-size;
    height: config.$mobile-button-size;

    cursor: pointer;
}

.mobile-forward-button {
    right: 0;
}

.mobile-back-button {
    left: 0;
}

.mobile-forward-button,
.mobile-songs-to-artists-button,
.mobile-songs-to-playlist-button,
.mobile-playlist-to-songs-button {
    display: none;
}

button:active, button:focus {
    border: none;
}


@include config.up(md) {
    // -- assign table cols widths
    @each $col, $width in config.$playlist-col-widths {
        :is(#songs, #playlist) thead tr th.#{$col} { width: $width; }
        #playlist col.#{$col} { width: $width; }
    }

    :is(#songs, #playlist) {
        table-layout: fixed;
    }

    #songs thead {
        display: table-header-group;

        width: 100%;

        tr {
            th {
                position: sticky;
                top: 0;
                z-index: 1;
            }

            th.col-year {
                display: none;
            }

            th.col-genre {
                display: none;
            }
        }
    }

    :is(.songs, .playlist) tbody td {
        height: config.$panel-header-height;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

    }

    :is(.songs, .playlist) tbody td.col-add {
        padding-left: 2px;
    }

    :is(.songs, .playlist) :is(tbody, thead) th.col-add,
    :is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-track-number,
    :is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-artist,
    :is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-title,
    :is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-album,
    :is(.songs, .playlist) :is(tbody, thead) :is(td, th).col-duration {
        display: table-cell;
    }

    :is(.songs, .playlist) tbody td.col-year,
    :is(.songs, .playlist) tbody td.col-genre {
        display: none;
    }
}

@include config.up(lg) {
    :is(#songs, #playlist) thead {
        tr {
            th.col-year {
                display: table-cell;
            }

            th.col-genre {
                display: table-cell;
            }
        }
    }

    :is(.songs, .playlist) tbody td.col-year,
    :is(.songs, .playlist) tbody td.col-genre {
        display: table-cell;
    }

    .list {
        tbody {
            tr {
                td {
                    padding: config.$space-1;
                }
            }
        }
    }
    
}
