@use '../config' as config;

.topbar {
    div {
        display: inline-block;

        box-sizing: border-box;
        height: 100%;

        line-height: config.$topbar-size;

        border: #{config.$debug}px solid red;

        vertical-align: top;
    }

    .material-icons {
        line-height: config.$topbar-size;
    }
}

#search-form {
    display: inline-block;

    height: config.$topbar-size;

    line-height: config.$topbar-size;

    vertical-align: top;

    input[type="text"] {
        position: relative;

        display: inline-block;

        width: 130px;
        height: config.$topbar-size;

        padding: 0 10px;

        border: #{config.$debug}px solid lime;

        vertical-align: middle;
    }

    input[type="submit"] {
        display: inline-block;

        height: config.$topbar-size;

        line-height: config.$topbar-size;

        border: #{config.$debug}px solid lime;

        vertical-align: top;
    }

    .input-reset {
        top: 10px;
        right: 5px;
    }

    .form-element-container {
        position: relative;

        display: inline-block;
    }
}

nav.topbar-nav {
    display: none;
    float: right;

    height: config.$topbar-size;

    line-height: config.$topbar-size;

    @if config.$debug != 0 {
        background-color: #666;
    }

    &.is-active {
        display: block;
    }

    a {
        display: inline-block;

        box-sizing: border-box;
        height: config.$topbar-size;

        padding: 0 20px;

        line-height: config.$topbar-size;

        vertical-align: top;
    }

    .topbar-nav-label {
        margin-left: 8px;
        padding-left: 10px;
    }
}

ul.top-nav {
    position: relative;

    width: 100%;

    &.is-active {
        position: absolute;
        top: 50px;  
        left: 0;
        z-index: 20;

        width: 100%;

        li {
            float: none;

            text-align: center;

            a {
                display: inline-flex;

                width: 100%;

                text-align: left;

                align-items: center;
                justify-content: flex-start;
            }
        }

        form {
            width: 100%;

            &#search-form input[type='text'] {
                box-sizing: border-box;

                // outline-offset: -5px;
                width: 100%;
            }

            input[type='submit'] {
                float: right;
            }
        }
    }

    li {
        float: left;
    }
}


body.route-settings-index {
    #navigation-settings {
        display: none !important;
    }
}

// -- set menu items visibility

#navigation-library,
#navigation-radio-new,
#navigation-back-to-radio-index {
    display: none;
}


@include config.up(md) {
    .hamburger {
        display: none;
    }

    #search-form input[type="text"] {
        height: 39px;
    }

    nav.topbar-nav {
        display: initial;

        .topbar-nav-label {
            display: none;
        }
    }
}
