@use '../config/layout' as config;

.topbar {
    display: flex;

    align-items: stretch;

    .logo {
        display: none;
    }

    div {
        display: inline-block;

        box-sizing: border-box;
        height: 100%;

        line-height: config.$topbar-content-size-touch;

        vertical-align: top;
    }

    .material-icons {
        line-height: config.$topbar-content-size-touch;
    }


    .search-form {
        display: inline-flex;

        height: config.$topbar-content-size-touch;

        line-height: config.$topbar-content-size-touch;

        align-items: stretch;

        vertical-align: top;

        input[type="text"] {
            position: relative;

            display: inline-block;

            width: 130px;
            height: config.$topbar-content-size-touch;

            padding: 0 config.$space-2;

            vertical-align: middle;
        }

        input[type="submit"] {
            display: inline-block;

            height: config.$topbar-content-size-touch;

            line-height: config.$topbar-content-size-touch;

            vertical-align: top;
        }

        .button {
            display: inline-flex;

            width: 60px;
            height: 100%;

            padding: 0;

            align-items: center;
            justify-content: center;

            appearance: none;
        }

        .input-reset {
            top: config.$space-2;
            right: config.$space-1;
        }

        .form-element-container {
            position: relative;

            display: inline-block;
            flex: 1 1 auto;

            min-width: 0;
        }
    }

    nav.topbar-nav {
        display: none;

        height: config.$topbar-content-size-touch;

        margin-left: auto;

        line-height: config.$topbar-content-size-touch;

        &.is-active {
            display: flex;
        }

        a {
            display: inline-block;

            box-sizing: border-box;
            height: config.$topbar-content-size-touch;

            line-height: config.$topbar-content-size-touch;

            vertical-align: top;
        }

        .topbar-nav-label {
            margin-left: config.$space-4;
        }
    }

    ul.top-nav {
        position: relative;

        width: 100%;

        .button {
            padding: 0;
        }

        .material-icons {
            text-align: center;
        }

        &.is-active {
            position: absolute;
            top: config.$topbar-size-touch;  
            left: 0;
            z-index: 20;

            width: 100%;

            .material-icons {
                width: config.$mobile-button-size;
            }

            .top-nav-link {
                position: relative;

                display: inline-flex;

                width: 100%;

                text-align: left;

                align-items: center;
                justify-content: flex-start;
            }

            .top-nav-item {
                width: 100%;
            }

            .radio-new-button .radio-add {
                position: absolute;
                top: config.$space-2;
                left: calc(config.$mobile-button-size - config.$space-4);

                width: auto;

                line-height: 1;
            }

            .search-form {
                width: 100%;
            }

            .search-form .filter-input {
                box-sizing: border-box;

                width: 100%;
            }
        }

        .top-nav-item {
            flex: 0 0 auto;
        }
    }

    .hamburger {
        position: static;

        width: config.$topbar-content-size-touch;
        height: config.$topbar-content-size-touch;

        margin-left: auto;
    }

    #player-container {
        font-size: 0;

        .button-wrapper {
            width: config.$player-button-width-touch;

            height: config.$topbar-content-size-touch;

            text-align: center;

            cursor: pointer;

            i {
                font-size: 30px;
            }
        }

        .time-info-container {
            padding-left: config.$space-2;
        }
    }

    #player-container > * {
        font-size: initial;
    }

    .song-info {
        display: none;
        flex: 0 1 auto;

        min-width: 0;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


body.route-settings-index {
    .navigation-settings {
        display: none;
    }
}

// -- set menu items visibility

:is(.navigation-library, .navigation-radio-new) {
    display: none;
}


@include config.up(xs) {
    .topbar {
        .song-info {
            display: block;
        }
    }
}

@include config.up(md) {
    .topbar {
        div {
            line-height: config.$topbar-content-size;
        }

        .material-icons {
            line-height: config.$topbar-content-size;
        }

        .search-form {
            height: config.$topbar-content-size;

            line-height: config.$topbar-content-size;

            input[type="text"] {
                height: config.$topbar-content-size - config.$space-2;
            }

            input[type="submit"] {
                height: config.$topbar-content-size;

                line-height: config.$topbar-content-size;
            }
        }

        nav.topbar-nav {
            display: flex;

            height: config.$topbar-content-size;

            line-height: config.$topbar-content-size;

            a {
                height: config.$topbar-content-size;

                line-height: config.$topbar-content-size;
            }

            .topbar-nav-label {
                display: none;
            }
        }

        ul.top-nav {
            display: flex;

            .top-nav-item:not(.navigation-search-form) {
                width: 60px;
            }

            .radio-new-button {
                position: relative;

                .radio-add {
                    position: absolute;
                    top: 5px;
                    right: -15px;

                    line-height: 1;
                }
            }

            &.is-active {
                top: config.$topbar-size;  
            }
        }

        .hamburger {
            display: none;
        }

        #player-container {
            font-size: 0;

            .button-wrapper {
                width: config.$topbar-content-size;
                height: config.$topbar-content-size;
            }
        }
    }
}
