/*
  -- Shared theme rules ------------------------------------------------------
*/

$fg-color: #111 !default;
$bg-color: #eee !default;
$hover-active: #90ee90 !default;
$bg-alternate: #c8c8c8 !default;
$header-color: #ccc !default;
$border-color: #666 !default;
$default-gradient: linear-gradient(to top, rgb(221 221 221 / 100%), rgb(204 204 204 / 90%)) !default;
$hover-gradient: linear-gradient(to top, rgb(144 238 144 / 100%), rgb(144 238 144 / 50%)) !default;
$song-artist-color: #333 !default;
$progressbar-color: $border-color !default;
$filter-input-bg: white !default;
$scrollbar-track-bg: #111 !default;
$scrollbar-thumb-border-bg: $fg-color !default;
$navigation-searchform-bg: $bg-color !default;
$context-menu-bg: white !default;
$context-menu-hover-bg: rgb(191 255 0 / 80%) !default;
$hamburger-color: null !default;
$mobile-button-bg: null !default;

/*
  --  1. Global ---------------------------------------------------------------
*/
body {
    color: $fg-color;
    background-color: $bg-color;
}

a {
    color: $fg-color;
}

h1 {
    border-bottom: 1px solid $border-color;
}

h2 {
    border-bottom: 1px solid $border-color;
}

* {
    scrollbar-color: $border-color $scrollbar-track-bg;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-track-bg;
}

*::-webkit-scrollbar-thumb {
    background-color: $border-color;
    border-radius: 20px;
    border: 3px solid $scrollbar-thumb-border-bg;
}

/*
  --  2. Topbar ---------------------------------------------------------------
*/
.topbar {
    background-color: $bg-color;
    border-bottom-color: $border-color;

    .song-artist {
        color: $song-artist-color;
    }

    .progressbar {
        background-color: $progressbar-color;
    }
}

nav.topbar-nav {
    a {
        background: $default-gradient;
    }

    a:hover {
        background: $hover-gradient;

        .icon-cog {
            background: $hover-gradient;
        }
    }
}

/*
  --  3. Artists navigation ---------------------------------------------------
*/
.artists-navigation {
    .song {
        background-color: $header-color;
    }
}

.filter {
    background-color: $header-color;

    input {
        background-color: $filter-input-bg;
    }
}

a.active {
    background-color: $hover-active;
}

/*
  --  5. Songs and playlist panels --------------------------------------------
*/
.songs-header-container,
.playlist-header {
    background-color: $header-color;
}

.list {
    thead {
        th {
            background-color: $header-color;
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: $bg-alternate;
        }
    }

    tr.playing,
    tr.selected {
        background-color: $hover-active;
    }

    .icon-plus,
    .icon-minus {
        color: #aaa;
    }
}

.single-album-container {
    .album-songs {
        tbody {
            tr:nth-child(even) {
                background-color: $bg-alternate;
            }
        }
    }
}

/*
  --  7. Radios ---------------------------------------------------------------
*/
.radio {
    &.active-radio {
        background-color: $hover-active;
    }
}

.radio:nth-child(4n+2),
.radio:nth-child(4n+3) {
    background-color: $bg-alternate;
}

/*
  --  9. Mobile menu ----------------------------------------------------------
*/
@if $hamburger-color {
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        background-color: $hamburger-color;
    }
}

/*
  -- 10. Small screen buttons -------------------------------------------------
*/
@if $mobile-button-bg {
    .mobile-button {
        background-color: $mobile-button-bg;
    }
}

/*
  -- 11. Forms ----------------------------------------------------------------
*/
#navigation-search-form {
    background-color: $navigation-searchform-bg;
}

input[type="text"] {
    color: $fg-color;
    background-color: $bg-color;
    border: 1px solid #555;
}

.input-reset {
    background-color: $bg-color;
}

.input-reset::after {
    color: $fg-color;
    background-color: $bg-color;
}

/*
  -- 12. Crud forms -----------------------------------------------------------
*/
form div div input {
    border: 1px solid $border-color;
}

.button {
    color: $fg-color;
    background: $default-gradient;
}

.button.danger {
    background: linear-gradient(to top, rgb(204 0 0 / 100%), rgb(204 0 0 / 50%));
}

.button:hover {
    background: $hover-gradient;
}

.button.danger:hover {
    background: linear-gradient(to top, rgb(204 0 0 / 100%), rgb(204 0 0 / 50%));
}

/*
  -- 13. Context menus --------------------------------------------------------
*/
.songs-context-menu,
.playlist-context-menu {
    box-shadow: 0 0 5px 3px rgb(255 255 255 / 20%);

    .menu-options {
        background-color: $context-menu-bg;

        .menu-option {
            &:hover {
                background: $context-menu-hover-bg;
            }
        }
    }
}
