/*
-- Default layout -----------------------------------------------------------
*/
@use "hamburger";

$debug: 0;
$mobileButtonSize: 48px;
$topbar-size: 49px;
$topbar-border-size: 1px;

@use "layout/topbar" with (
    $debug: $debug,
    $topbar-size: $topbar-size,
    $topbar-border-size: $topbar-border-size
);
@use "layout/artists-navigation" with (
    $debug: $debug,
    $mobileButtonSize: $mobileButtonSize
);

/*
  --  1. Global ---------------------------------------------------------------
*/
html, body {
    height: 100%;
}

table {
    table-layout: fixed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.is-hidden {
    display: none;
}

.no-padding {
    padding: 0;
}



/*
  --  2/3. Topbar + Artists navigation ----------------------------------------
*/


/*
  --  4. Views ----------------------------------------------------------------
*/
.view {
    position: absolute;
    top: $topbar-size + $topbar-border-size;
    height: calc(100% - (#{$topbar-size} + #{$topbar-border-size}));
    width: 100%;
    border: #{$debug}px solid red;
}

.library-view {
    overflow-x: hidden;
}

.albums-view {
    overflow-y: scroll;
}

.single-album-view {
    border: 1px solid red;
    background-color: rgb(0 0 0 / 80%);
}

.radios-view {
    font-size: 0;
    overflow-y: scroll;
}


/*
  --  5 .Songs and playlist panels --------------------------------------------
*/
$panel-header-height: 22px;

.songs-header {
    display: none;
    position: relative;
    width: calc(100% - 10px);
    height: $panel-header-height;
    z-index: 40;
    box-sizing: border-box;
}


.songs, .playlist {
    display: none;
    overflow: hidden;

    table {
        width: 100%;
    }
}

.songs {
    @if $debug != 0 {
        background-color: #444;
    }
}

#playlist, #songs {
    @if $debug != 0 {
        background-color: #222;
    }

    thead tr {
        height: 0;
        line-height: 0;
        font-size: 0;
    }
}


thead {
    display: none;
}

.songs tbody, .playlist tbody {
    tr {
        td {
            height: $mobileButtonSize;

            // padding-left: 10px!important;
        }

        td:nth-child(1) {
            width: $mobileButtonSize;
            text-align: center;
        }

        td:nth-child(2) {
            display: none;
        }

        td:nth-child(3) {
            display: none;
        }

        td:nth-child(5) {
            display: none;
        }

        td:nth-child(6) {
            display: none;
        }

        td:nth-child(7) {
            display: none;
        }

        td:nth-child(8) {
            display: none;
        }
    }
}


.playlist-header {
    height: $panel-header-height;
    line-height: 20px;
    padding-left: 10px;
    top: 0;

    .icon-trash {
        float: right;
        cursor: pointer;
    }
}

.list {
    box-sizing: content-box;

    thead {
        tr {
            height: $panel-header-height;
            line-height: $panel-header-height;
        }
    }
}


/*
  --  6. Albums view ----------------------------------------------------------
*/
.album-container {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;

    .img-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        cursor: pointer;
    }

    .album-controls {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;

        .material-icons {
            font-size: 36px;
            padding-left: 10px;
            vertical-align: middle;
        }

        .material-icons-big {
            font-size: 50px;
            padding-left: 0;
        }
    }
}

img.lozad {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


.album-infos {
    font-size: 0.8em;

    > div {
        text-align: center;
    }

    .album-info-album {
        letter-spacing: 0.4px;
        font-size: 1.1em;
        padding: 10px 10px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .album-info-artist {
        font-size: 0.9em;
        padding: 0 5px 5px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/*
  --  6.1 Single album view ---------------------------------------------------
*/
.single-album-container {
    border: 1px solid lime;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;

    .img-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        cursor: pointer;

        .single-album {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
        }
    }

    .album-title {
        // border: 1px solid green;
        padding: 10px 0;
        text-align: center;

    }

    .album-artist {
        // border: 1px solid red;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .album-songs {
        width: 100%;
        table-layout: auto;

        td {
            padding: 5px;
            border: 1px solid red;
        }

        td:nth-child(1), td:nth-child(3) { text-align: center }
    }
}

/*
  --  7. Radios ---------------------------------------------------------------
*/
.radio {
    font-size: 16px;
    box-sizing: border-box;
    border: #{$debug}px solid red;

    .radio-name, .radio-url {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
        width: calc(100% - 150px);
        box-sizing: border-box;
    }

    .radio-name {
        height: 100px;
        padding-left: 30px;
        line-height: 100px;
        border: #{$debug}px solid lime;
    }

    .radio-url {
        height: 50px;
        line-height: 50px;
        padding: 0 10px 0 20px;
        border: #{$debug}px solid cyan;
    }

    .button-wrapper {
        float: left;
        height: 150px;
        line-height: 150px;
        width: 150px;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
        border: #{$debug}px solid yellow;
    }
}

label[for="appbundle_radio_enabled"], [id="appbundle_radio_enabled"],
label[for="appbundle_radio_changed"], [id="appbundle_radio_changed"] {
    display: none;
}


/*
  --  8. Settings-view --------------------------------------------------------
*/
.settings-view {
    border: #{$debug}px solid red;

    .library-info{
        margin-top: 20px;
        width: 90%;
    }

    table {
        tr {
            td {
                padding: 15px 50px;
                text-align: right;
                border: #{$debug}px solid lime;

                &:nth-child(1) {
                    padding: 0;
                    width: 40%;
                    text-align: right;
                }
            }
        }
    }
}

.info {
    border: #{$debug}px solid red;
}


/*
  --  9. Mobile menu ----------------------------------------------------------
*/
ul.top-nav {
    position: relative;
    width: 100%;

    &.is-active {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 20;

        li {
            text-align: center;
            float: none;

            a {
                width: 100%;
                text-align: center;

                .icon-cog {
                    float: none;
                }
            }
        }

        form {
            width: 100%;

            input[type='text'] {
                width: 90%;
            }

            input[type='submit'] {
                float: right;
            }
        }
    }

    li {
        float: left;
    }
}


/*
  -- 10. Small screen buttons -------------------------------------------------
*/
.mobile-button {
    height: $mobileButtonSize;
    line-height: $mobileButtonSize;
    width: $mobileButtonSize;
    position: fixed;
    top: calc(100% - #{$mobileButtonSize}); // calc(100% - 100px) for debug
    text-align: center;
    cursor: pointer;
}


.mobile-forward-button {
    right: 0;
}

.mobile-back-button {
    left: 0;
}

.mobile-songs-to-artists-button, .mobile-songs-to-playlist-button, .mobile-playlist-to-songs-button {
    display: none;
}

button:active, button:focus {
    border: none;
}


/*
  -- 11. Forms ----------------------------------------------------------------
*/

/* neede for reset button */
form {
    position: relative;
}

.input-reset {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
    border: 0;
}

.input-reset::after {
    content: "\e805";
    transform: rotate(45deg);
    font-family: fontello, sans-serif;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index:1;
    left: 2px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
	cursor: pointer;
}

.filter-input:not(:valid) ~ .input-reset {
	display: none;
}

.filter-form {
    .input-reset {
        top: 5px;
        right: 5px;
    }
}

#search-form {
    .input-reset {
        top: 10px;
        right: 5px;
    }
}

table.form {
    width: 90%;
    margin-top: 20px;

    tr {
        td {
            padding: 5px;

            input[type='text'] {
                width: 80%;
            }
        }

        td:nth-child(1) {
            text-align: right;
            width: 40%;
        }

        td.button-row {
            text-align: center;
            padding-top: 20px;
        }
    }
}

/*
  -- 12. Crud forms -----------------------------------------------------------
*/
.button-wrapper {
    padding: 20px 0;
    text-align: center;
    border: #{$debug}px solid red;
}

.button {
    box-sizing: border-box;
    height: 49px;
    line-height: 49px;
    display: inline-block;
    padding: 0 20px;
    border: 0;
}


/*
  -- 13. Context menus --------------------------------------------------------
*/
.songs-context-menu, .playlist-context-menu {
    position: absolute;
    display: none;
}


/*
  -- Media query 500px --------------------------------------------------------
*/
@media all and (min-width: 500px) {
    /* --  4. Views -- */
    .album-container {
        width: 33.33%;

        // padding-top: 33.33%;
    }
}


/*
  -- Media query 700px --------------------------------------------------------
*/
@media all and (min-width: 700px) {
    /* --  4. Views -- */
    .album-container {
        width: 25%;

        // padding-top: 25%;
    }
}


/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1023px) {
    /* --  2. Topbar -- */
    .topbar {
        .logo {
            > span {
                display: inline-block;
            }
        }
    }

    .song-info {
        display: block;

        // width: 200px;
    }

    nav.topbar-nav {
        display: initial;
    }

    ul.top-nav.is-active {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        z-index: auto;

        li {
            float: left;
            text-align: left;

            a {
                width: auto;
                text-align: left;
            }
        }
    }

    #form-keyword {
        width: 100px;
    }

    .hamburger {
        display: none;
    }


    /* --  3. Artists navigation -- */
    $nav-width: 240px;

    .artists-navigation {
        width: $nav-width;

        a {
            height: auto;
            line-height: 1.3em;
            border: #{$debug}px solid white;

            &.song {
                line-height: 1.4em;
            }
        }

        > ul {
            margin-top: 5px;
        }
    }


    /* --  5. Songs and playlist panels -- */
    .songs, .playlist {
        display: block;
        height: 50%;
    }


    .songs-container, .playlist-container {
        height: calc(100% - #{$panel-header-height});
        overflow-y: scroll;
    }

    thead {
        width: 100%;
        display: table-header-group;

        tr {
            th {
                border: #{$debug}px solid red;
                position: sticky;
                top: 0;
            }
            th:nth-child(1) { width: 15px; }
            th:nth-child(2) { width: 25px; }
            th:nth-child(3) { width: 20%; }
            th:nth-child(4) { width: 35%; }
            th:nth-child(5) { width: 20%; }
            th:nth-child(6) { width: 60px; }

            th:nth-child(7) {
                width: 60px;
                display: none;
            }

            th:nth-child(8) {
                width: 80px;
                display: none;
            }
        }
    }

    .songs tbody, .playlist tbody {
        tr {
            td {
                height: $panel-header-height;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border: #{$debug}px solid red;
            }

            td:nth-child(1) {
                text-align: center;
                padding-left: 2px;
            }
            td:nth-child(2) { display: table-cell}
            td:nth-child(3) { display: table-cell}
            td:nth-child(5) { display: table-cell}

            td:nth-child(6) {
                display: table-cell;
                text-align: center;
            }

            td:nth-child(7) {
                text-align: center;
                display: none;
            }
            td:nth-child(8) { display: none; }
        }
    }


    /* --  4. Views -- */
    .album-container {
        width: 20%;
    }

    .album-infos {
        font-size: 1em;

        > div {
            padding: 0 10px;
            text-align: center;
        }

        .album-info-artist {
            line-height: 1.3em;
        }
    }


    /* --  7. Radios -- */
    .radio {
        font-size: 16px;
        display: inline-block;
        width: 50%;

    }


    /* --  8. Settings-view -- */
    .settings-view {
        .library-info{
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }


    /* -- 10. Small screen buttons -- */
    .mobile-button {
        display: none;
    }


    /* -- 11. Forms -- */
    table.form {
        margin: auto;
        width: 40%;

        tr {
            td {
                padding: 10px;

                input[type='text'] {
                    width: 80%;
                }
            }

            td:nth-child(1) {
                text-align: right;
                width: 40%;
            }

            td.button-row {
                text-align: center;
                padding-top: 20px;
            }
        }
    }
}

/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {
    /* --  2. Topbar -- */
    .song-info {
        // width: 400px;
    }


    /* --  3. Artists navigation -- */
    $nav-width: 360px;

    .artists-navigation {
        width: $nav-width;
    }


    /* --  5. Songs and playlist panels -- */
    thead {
        tr {
            th:nth-child(7) {
                display: table-cell;
            }

            th:nth-child(8) {
                display: table-cell;
            }
        }
    }

    .songs tbody, .playlist tbody {
        tr {
            td:nth-child(7) {
                display: table-cell;
            }

            td:nth-child(8) {
                display: table-cell;
            }
        }
    }


    /* --  4. Views -- */
    .album-container {
        width: 16.66%;

        // padding-top: 16.66%;
    }


    /* --  6. Album voew -- */
    .album-infos {
        font-size: 1.1em;

        > div {
            padding: 0 10px;
            text-align: center;
        }

        .album-info-artist {
            line-height: 1.5em;
        }
    }

    /* -- 11. Forms -- */
    table.form {
        tr {
            td {
                input[type='text'] {
                    width: 60%;
                }
            }
        }
    }

}


/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {
    /* --  2. Topbar -- */
    .song-info {
        // width: 600px;
    }

    #search-form {
        input[type="text"] {
            width: 200px;
        }
    }

    /* --  4. Views -- */
    .album-container {
        width: 12.5%;

        // padding-top: 12.5%;
    }
}
