{% extends 'base.html.twig' %}

{% block title %} - {{ 'edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit'|trans }}</h1>

    {{ include('album/_form.html.twig', {
        button_label: 'edit'|trans,
        back_href: path('album_index'),
        back_label: 'back.tolist'|trans
    }) }}

    {# Legacy CRUD delete route is not active in AlbumController. #}
{% endblock %}
