{% extends 'base.html.twig' %}

{% block title %} - {{ 'create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create'|trans }}</h1>

    {{ include('album/_form.html.twig', {
        button_label: 'create'|trans,
        back_href: path('album_index'),
        back_label: 'back.tolist'|trans
    }) }}
{% endblock %}
