@use '../config/screen' as theme;

.album-container {
    .album-infos {
        font-size: 0.8em;

        > div {
            text-align: center;
        }

        .album-info-album {
            font-size: 1.1em;
            letter-spacing: 0.4px;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .album-info-artist {
            font-size: 0.9em;

            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.single-album-view {
    background-color: theme.$album-overlay;
}

.single-album-container {
    background-color: theme.$album-overlay ;

    .album-songs {
        tbody tr:nth-child(2n) {
            background-color: theme.$bg-alternate;
        }

        tbody tr.is-playing {
            background-color: theme.$active-playing;
        }
    }

    .album-artist {
        border-bottom: theme.$border-size solid theme.$border-color;
    }

    .icon-plus {
        cursor: pointer;
    }
}
