$hover-active: #ddd !default;
$artists-song-bg: #fff !default;
$filter-bg: #ddd !default;
$filter-input-bg: black !default;


.filter {
    background-color: $filter-bg;

    label {
        padding: 0 0 0 10px;
        font-family: Muli, sans-serif;
        letter-spacing: 0.6px;
        font-size: 1.1em;
        font-weight: 600;
    }

    input {
        background-color: $filter-input-bg;
        padding: 0 0 0 10px;
    }
}

ul.album-nav {
    background-color: #eee;
}


.artists-navigation a.active,
.artists-navigation a.keyboard-selected {
    background-color: $hover-active;
}
