@use '../config/screen' as theme;

a {
    font-weight: 700;
    line-height: 1.2em;

    color: theme.$fg-color;
    text-decoration: none;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;

    color: theme.$fg-color;
    background: theme.$default-gradient;

    cursor: pointer;
    transition: background 120ms ease, transform 80ms ease, box-shadow 120ms ease;
}