@use '../config/layout' as config;
@use '../config/screen' as theme;

.radio:nth-child(even) {
    background-color: theme.$bg-alternate;
}

.radio {
    font-size: 16px;
}

.radio .icon-play,
.radio .icon-pause {
    font-size: 50px;
}

.radio-edit-view .form dt,
.radio-new-view .form dt {
    font-weight: 700;
    text-align: right;
}

.radio-edit-view .form input[type='text'],
.radio-edit-view .form input[type='url'],
.radio-new-view .form input[type='text'],
.radio-new-view .form input[type='url'],
table.form input[type='text'],
table.form input[type='url'] {
    font-size: 1.2em;
    line-height: 40px;
}

@include config.up(sm) {
    .radio .icon-play,
    .radio .icon-pause {
        font-size: 5em;
    }
}

@include config.up(md) {
    .radio:nth-child(even) {
        background-color: transparent;
    }

    .radio:nth-child(4n+2),
    .radio:nth-child(4n+3) {
        background-color: theme.$bg-alternate;
    }

    .radio:nth-child(4n+2).is-active-radio,
    .radio:nth-child(4n+3).is-active-radio {
        background-color: theme.$hover-active;
    }

}
