@use '../config/layout' as config;
@use '../config/screen' as theme;

.artists-navigation a.is-active {
    background-color: theme.$hover-active;
}

.playlist-header {
  line-height: 20px;

  background-color: theme.$header-color;
}

:is(#songs, #playlist) thead th {
    background-color: theme.$header-color;
}

.mobile-button {
    line-height: config.$mobile-button-size;
    text-align: center;

    background-color: theme.$mobile-button-bg;
}

.list {
    tbody {
        tr {
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: theme.$bg-alternate;
        }
    }

    tbody tr.is-playing,
    tbody tr.is-selected,
    tbody tr.is-keyboard-selected {
        background-color: theme.$hover-active;
    }
}

:is(.songs, .playlist) tbody td.col-add {
    text-align: center;
}

@include config.up(md) {
    :is(.songs, .playlist) tbody td.col-add,
    :is(.songs, .playlist) tbody td.col-duration,
    :is(.songs, .playlist) tbody td.col-year,
    :is(.songs, .playlist) tbody td.col-genre {
        text-align: center;
    }
}
