@use '../config/layout' as config;
@use '../config/screen' as theme;

.artists-navigation a.is-active {
    background-color: theme.$hover-active;
}

.songs-header, .playlist-header {
  line-height: 20px;

  background-color: theme.$header-color;
}

.mobile-button {
    line-height: config.$mobile-button-size;
    text-align: center;

    background-color: theme.$mobile-button-bg;
}

.list {
    tbody {
        tr {
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: theme.$bg-alternate;
        }
    }

    tbody tr.is-playing,
    tbody tr.is-selected,
    tbody tr.is-keyboard-selected {
        background-color: theme.$hover-active;
    }
}

:is(.songs, .playlist) tbody td:nth-child(1) {
    text-align: center;
}

@include config.up(md) {
    :is(.songs, .playlist) tbody td:nth-child(1),
    :is(.songs, .playlist) tbody td:nth-child(6),
    :is(.songs, .playlist) tbody td:nth-child(7),
    :is(.songs, .playlist) tbody td:nth-child(8) {
        text-align: center;
    }
}
