@use '../config/screen' as theme;

.artists-navigation a.active {
    background-color: theme.$hover-active;
}

.songs-header, .playlist-header {
  background-color: theme.$header-color;
}

.mobile-button {
    background-color: theme.$mobile-button-bg;
}

.list {
    tbody {
        tr {
            cursor: pointer;
        }

        tr:nth-child(even) {
            background-color: theme.$bg-alternate;
        }
    }

    tbody tr.playing,
    tbody tr.selected,
    tbody tr.keyboard-selected {
        background-color: theme.$hover-active;
    }
}
