@use '../config/screen' as theme;

.topbar {

    background-color: theme.$bg-color;
    background-image: theme.$default-gradient;

    .time-info {
        padding: 0 10px;

        font-size: 80%;
        font-weight: 700;

        letter-spacing: 1px;
    }

    .progressbar {
        background-color: #ddd;
    }

    .progress-indicator {
        background-color: #aaa;
    }

    .navigation-search-form .search-form .button {
        background: transparent;

        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .top-nav-item {
        font-size: 18px;
        letter-spacing: 1px;

        text-align: center;

        background-image: theme.$default-gradient;
    }

    nav.topbar-nav {
        font-size: 0;

        .topbar-nav-label {
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    ul.top-nav {
        background-color: theme.$bg-color;
    }

    .radio-new-button .radio-add {
        font-size: 18px;
    }
}
