@use '../config/layout' as config;
@use '../config/screen' as theme;

.topbar {
    .navigation-search-form .search-form .button {
        appearance: none;
        -webkit-appearance: none;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 100%;
        padding: 0;

        border: 0;
        border-radius: 0;
        box-shadow: none;

        background: transparent;
    }

    .top-nav-item {
        font-size: 18px;

        text-align: center;
        letter-spacing: 1px;

        background: theme.$default-gradient;
        border: #{config.$debug}px solid lime;
    }

    nav.topbar-nav {
        font-size: 0;

        @if config.$debug != 0 {
            background-color: #666;
        }

        .topbar-nav-label {
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    ul.top-nav {
        background-color: theme.$bg-color;
    }
}
