/*
  -- Default clear theme -------------------------------------------------------
*/

$theme-fg-color: #111;
$theme-clear-gradient: linear-gradient(to top, #ddd, #fff);
$theme-dark-gradient: linear-gradient(to top, #ccc, #eee);

@use "../base" with (
    $fg-color: $theme-fg-color,
    $bg-color: #FAFAFA,
    $hover-active: #90ee90,
    $bg-alternate: #c8c8c8,
    $header-color: #ccc,
    $border-color: #666,
    $default-gradient: linear-gradient(to top, rgb(221 221 221 / 100%), rgb(204 204 204 / 90%)),
    $hover-gradient: linear-gradient(to top, rgb(144 238 144 / 100%), rgb(144 238 144 / 50%)),
    $song-artist-color: #333,
    $progressbar-color: #666,
    $filter-input-bg: white,
    $scrollbar-track-bg: #111,
    $scrollbar-thumb-border-bg: #111,
    $context-menu-bg: white,
    $context-menu-hover-bg: rgb(191 255 0 / 80%)
);


/*
  --  1. Global ---------------------------------------------------------------
*/
body {
    background: linear-gradient(
        to bottom right,
        #F9FAFB,
        #F5F5F5
    );
    background-attachment: fixed;
}


.topbar {
    .logo {
        background-image: url("/img/default-clear-logo.png");
    }
}


/*
  --  6. Albums view ----------------------------------------------------------
*/

img.cover {
    box-shadow: rgb(0 0 0 / 40%) 6px 6px 6px;
}   

.albums-view .album-container {
    background: $theme-dark-gradient
}

.albums-view .album-container:nth-child(4n + 2), .albums-view .album-container:nth-child(4n + 3) {
    background: $theme-clear-gradient
}


/*
  -- Media query 500px --------------------------------------------------------
*/
@media all and (min-width: 500px) {
    .albums-view .album-container:nth-child(4n + 2), .albums-view .album-container:nth-child(4n + 3){
        background: $theme-dark-gradient
    }

    .albums-view .album-container:nth-child(even) {
        background: $theme-clear-gradient
    }
}


/*
  -- Media query 700px --------------------------------------------------------
*/
@media all and (min-width: 700px) {
    .albums-view .album-container:nth-child(even) {
        background: $theme-dark-gradient
    }

    .albums-view .album-container:nth-child(8n + 2),
    .albums-view .album-container:nth-child(8n + 4),
    .albums-view .album-container:nth-child(8n + 5),
    .albums-view .album-container:nth-child(8n + 7) {
        background: $theme-clear-gradient
    }

}


/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1024px) {
    .albums-view .album-container:nth-child(8n + 2),
    .albums-view .album-container:nth-child(8n + 4),
    .albums-view .album-container:nth-child(8n + 5),
    .albums-view .album-container:nth-child(8n + 7) {
        background: $theme-dark-gradient
    }

    .albums-view .album-container:nth-child(10n + 2),
    .albums-view .album-container:nth-child(10n + 4),
    .albums-view .album-container:nth-child(10n + 6),
    .albums-view .album-container:nth-child(10n + 8),
    .albums-view .album-container:nth-child(10n + 10) {
        background: $theme-clear-gradient
    }
}


/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {
    .albums-view .album-container:nth-child(10n + 2),
    .albums-view .album-container:nth-child(10n + 4),
    .albums-view .album-container:nth-child(10n + 6),
    .albums-view .album-container:nth-child(10n + 8),
    .albums-view .album-container:nth-child(10n + 10) {
        background: $theme-dark-gradient
    }

    .albums-view .album-container:nth-child(12n + 2),
    .albums-view .album-container:nth-child(12n + 4),
    .albums-view .album-container:nth-child(12n + 6),
    .albums-view .album-container:nth-child(12n + 7),
    .albums-view .album-container:nth-child(12n + 9),
    .albums-view .album-container:nth-child(12n + 11) {
        background: $theme-clear-gradient
    }
}


/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {
    .albums-view .album-container:nth-child(12n + 2),
    .albums-view .album-container:nth-child(12n + 4),
    .albums-view .album-container:nth-child(12n + 6),
    .albums-view .album-container:nth-child(12n + 7),
    .albums-view .album-container:nth-child(12n + 9),
    .albums-view .album-container:nth-child(12n + 11) {
        background: $theme-dark-gradient
    }

    .albums-view .album-container:nth-child(16n + 2),
        .albums-view .album-container:nth-child(16n + 4),
        .albums-view .album-container:nth-child(16n + 6),
        .albums-view .album-container:nth-child(16n + 8),
        .albums-view .album-container:nth-child(16n + 9),
        .albums-view .album-container:nth-child(16n + 11),
        .albums-view .album-container:nth-child(16n + 13),
        .albums-view .album-container:nth-child(16n + 15) {
            background: $theme-clear-gradient    
    }
}
