/*
  -- Default clear theme -------------------------------------------------------
*/

@use "../base" with (
    $fg-color: #111,
    $bg-color: #eee,
    $hover-active: #90ee90,
    $bg-alternate: #c8c8c8,
    $header-color: #ccc,
    $border-color: #666,
    $default-gradient: linear-gradient(to top, rgba(221,221,221, 1), rgba(204,204,204, 0.9)),
    $hover-gradient: linear-gradient(to top, rgba(144,238,144, 1), rgba(144,238,144, 0.5)),
    $song-artist-color: #333,
    $progressbar-color: #666,
    $filter-input-bg: white,
    $scrollbar-track-bg: #111,
    $scrollbar-thumb-border-bg: #111,
    $navigation-searchform-bg: #c8c8c8,
    $context-menu-bg: white,
    $context-menu-hover-bg: rgba(191,255,0, 0.8)
);

body {
    background: linear-gradient(
        to bottom right,
        rgb(221 221 221 / 100%),
        rgb(221 221 221 / 80%)
    );
}

.topbar {
    .logo {
        background-image: url("/img/default-clear-logo.png");
    }
}
