$debug : 0;

/*
  -- Global -------------------------------------------------------------------
*/
html, body {
    height: 100%;
}


/*
  -- Topbar -------------------------------------------------------------------
*/
$topbar-size: 49px;
$topbar-border-size: 1px;

.topbar {
    height: $topbar-size;
    border-bottom-width: $topbar-border-size;
    border-bottom-style: solid;
    @if $debug != 0 {
        background-color: #222;
    }

    > div {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        line-height: $topbar-size;
        border: #{$debug}px solid red;
    }

    .logo {
        // height: $topbar-size;
        // line-height: $topbar-size;
        padding: 0 20px;
        border: #{$debug}px solid red;
    }


    /* -- Artists navigation -- */
    [class^="icon-"] {
        display: inline-block;
        vertical-align: top;
        height: $topbar-size;
        line-height: $topbar-size;
        font-size: 120%;
        cursor: pointer;
        border: #{$debug}px solid red;
    }


    .icon-play, .icon-pause {
        font-size: 150%;
    }

    .icon-to-end {
        margin-left: -2px;
    }


    .songInfo {
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

#searchForm {
    display: inline-block;
    vertical-align: top;
    height: $topbar-size;
    line-height: $topbar-size;

    input[type="text"] {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        // top: 5px;
        height: 39px;
        border: 0;
        padding: 0 10px;
        border: #{$debug}px solid lime;
    }

    input[type="submit"] {
        display: inline-block;
        border: 0;
        height: 49px;
        line-height: 49px;
        vertical-align: top;
        border: #{$debug}px solid lime;
    }
}

nav.topbarNav {
    font-size: 0;
    float: right;
    height: $topbar-size;
    line-height: $topbar-size;
    @if $debug != 0 {
        background-color: #666;
    }

    a {
        height: $topbar-size;
        line-height: $topbar-size;
        border: #{$debug}px solid lime;
    }
}

.icon-cog {
    float: right;
}


/*
  -- Artists navigation -------------------------------------------------------
*/
.artists-navigation {
    float: left;
    width: 100%;
    height: calc(100% - (#{$topbar-size} + #{$topbar-border-size}));
    overflow-y: scroll;
    @if $debug != 0 {
        background-color: #333;
    }

    a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10px;
        height : 48px;
        line-height: 48px;
        @if $debug != 0 {
            background-color: #500;
        }
    }
}


/*
  -- Songs and playlist panels ------------------------------------------------
*/
.songs, .playlist {
    display: none;
    overflow-y: scroll;
}

.songs {
    @if $debug != 0 {
        background-color: #444;
    }
}

.playlist {
    @if $debug != 0 {
        background-color: #222;
    }
}


/*
  -- Media query 1024px -------------------------------------------------------
*/
@media all and (min-width: 1024px) {

    /* -- Artists navigation -- */
    $nav-width: 240px;

    .artists-navigation {
        height: calc(100% - (#{$topbar-size} + #{$topbar-border-size}));
        width: $nav-width;
        overflow-y: scroll;

        a {
            height: auto;
            line-height: 1.3em;

            &.song {
                line-height: 1.4em;
            }
        }

        > ul {
            margin-top: 5px;
        }
    }


    /* -- Songs and playlist panels -- */
    .songs, .playlist {
        display: block;
        height: calc((100% - (#{$topbar-size} + #{$topbar-border-size})) / 2);
    }
}


/*
  -- Media query 1200px -------------------------------------------------------
*/
@media all and (min-width: 1200px) {

    /* -- Artists navigation -- */
    $nav-width: 360px;

    .artists-navigation {
        width: $nav-width;
    }
}


/*
  -- Media query 1600px -------------------------------------------------------
*/
@media all and (min-width: 1600px) {

}
