/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

@import "compass/reset";

$fg-color: #eee;
$bg-color: #111;

$debug: 0;

body {
    color: $fg-color;
    background-color: $bg-color;
    background: linear-gradient(to bottom right,
        rgba(17,17,17, 1) 0%,
        rgba(17,17,17, 0.9) 100% );
}

a {
    font-family: 'Lato', sans-serif;
    color: $fg-color;
    text-decoration: none;
    line-height: 1.2em;
    font-weight: 700;
}


$topbar-size: 49px;

.topbar {
    // background-color: #222;
    height: $topbar-size;
    border: #{$debug}px solid red;
    border-bottom: 1px solid #333;
}

.topbar > div {
    display: inline-block;
}

.logo {
    // float: left;
    height: $topbar-size;
    line-height: 50px;
    padding: 0 20px;
    border: #{$debug}px solid red;
}


[class^="icon-"] {
    font-size: 120%;
    cursor: pointer;
    // border: 1px solid red;
}

.icon-play, .icon-pause {
    font-size: 150%;
}

.icon-to-end {
    margin-left: -4px;
}

.artists a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.artists {
    float: left;
    border: #{$debug}px solid red;
}

.songs, .queue {
    margin-left: 360px;
    overflow-y: scroll;
    border: #{$debug}px solid red;
}

.filter {
    height: 40px;
    line-height: 40px;
    background-color: #333;
    border: #{$debug}px solid red;

    label {
        font-size: 110%;
        padding: 0 10px;
    }

    input[type="text"] {
        position: relative;
        top: -2px;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        margin: 0;
        background-color: #222;
        border: 1px solid #000;
    }
}

table {
    width: 100%;
}

thead {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    background-color: #333;
    tr {
        height: 22px;
        line-height: 22px;

        th {
            padding: 0 10px;
            font-family: 'Muli', sans-serif;
            font-weight: 700;
            font-size: 80%;
            letter-spacing: 1px;
            // border: 1px solid lime;
        }

    }
}

tbody {
    font-family: 'Lato', sans-serif;
    tr {
        cursor: pointer;
        td {
            padding: 5px;
            // border: 1px solid red;
        }
    }
    tr:nth-child(even) {
        background-color: #222;
    }
}

tr.active {
    background-color: #060!important;
}

.queue-header {
    height: 22px;
    line-height: 18px;
    padding-left: 10px;
    // padding-bottom: 2px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 80%;
    letter-spacing: 1px;
    background-color: #333;
    // border: 1px solid white;
}

.songInfo {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.songTitle {
    font-weight: 900;
    font-size: 120%;
}

.songArtist {
    color: #ddd;
}

.timeInfo {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 80%;
    // border: 1px solid white;
    // height: $topbar-size;
    // line-height: 50px;
    padding: 0 10px;
    letter-spacing: 1px;
}

.radio {
    // padding: 10px;
    border: #{$debug}px solid red;

    .radioName {
        float: left;
        width: calc(100% - 20px);
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 10px;
        border: #{$debug}px solid red;
    }

    .radioUrl {
        float: left;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 10px;
        border: #{$debug}px solid red;
    }

    .buttonWrapper {
        float: left;
        height: 150px;
        line-height: 150px;
        text-align: center;
        width: 150px;
        // border: #{$debug}px solid lime;
    }

    .icon-play, .icon-pause {
        font-size: 4em;
        // border: #{$debug}px solid lime;
    }

    &.activeRadio {
        background-color: #060!important;
    }
}


@media all and (min-width: 1024px) {

    $nav-width: 240px;

    .artists {
        height: calc(100vh - (#{$topbar-size} + 1px));
        width: $nav-width;
        overflow-y: scroll;
    }

    .songs, .queue {
        margin-left: $nav-width;
        height: calc((100vh - (#{$topbar-size} + 1px)) / 2)!important;
    }

    .songs {

    }

    .queue {

    }

    .radios {
        height: calc((100vh - (#{$topbar-size} + 1px)))!important;
        font-size: 0;
    }

    .radio {
        font-size: 16px!important;
        display: inline-block;
        width: 50%;
    }

    thead {
        tr {
            th:nth-child(1) {
                width: 2%;
            }

            th:nth-child(2) {
                width: 25%;
            }

            th:nth-child(3) {
                width: 25%;
            }

            th:nth-child(4) {
                width: 25%;
            }


            th:nth-child(5) {
                width: 5%;
            }

            th:nth-child(6) {
                width: 5%;
                // display: none;
            }

            th:nth-child(7) {
                width: 5%;
                // display: none;
            }
        }
    }

    .radio {
        // padding: 10px;

        .radioName {
            padding: 30px;
            width: calc(100% - 60px - 150px);
            font-size: 2em;
        }
        .radioUrl {
            padding: 10px 30px;
            font-size: 1.2em;
        }
    }
}

@media all and (min-width: 1200px) {

    $nav-width: 360px;

    .artists {
        width: $nav-width;
    }

    .songs, .queue {
        margin-left: $nav-width;
    }

    thead {
        tr {
            th:nth-child(6) {
                // width: 5%;
                display: table-cell;
            }

            th:nth-child(7) {
                // width: 5%;
                display: cell;
            }
        }
    }
}
