<section id="playlist-section" class="playlist">
    <div class="playlist-header">
        {{ 'playlist'|trans }}
        <span id="playlist-infos" class="is-hidden">
            :
            <span id="playlist-num-files">0</span>
            <span id="playlist-file">file</span>
            (<span id="playlist-duration">00:00</span>)
        </span>
        <i class="icon-trash" role="button" tabindex="0" aria-label="Clear playlist" title="Clear playlist"></i>
    </div>
    <div class="playlist-container">
        <table id="playlist" class="list">
            <thead>
            <tr>
                <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="mobile-button mobile-back-button mobile-playlist-to-songs-button" role="button" tabindex="0" aria-label="Back to songs" title="Back to songs">
        <i class="icon-left-open" aria-hidden="true"></i>
    </div>
</section>
