$bg-color: #fff!default;
$hover-active: #ddd !default;


.filter {

    label {
        padding: 0 0 0 10px;
        font-family: Muli, sans-serif;
        letter-spacing: 0.6px;
        font-size: 1.1em;
        font-weight: 600;
    }

    input {
        padding: 0 0 0 10px;
    }
}

ul.album-nav {
    background-color: $bg-color;
}


.artists-navigation a.active,
.artists-navigation a.keyboard-selected {
    background-color: $hover-active;
}
